@import url('./normolize.scss');
@import url('./fonts.scss');

$blue: #5D71DD;
$blue-light: #6C7DD8;
$transporent-blue: #5D71DD0D;
$transporent-blue2: #5D71DD26;
$transporent-blue3: #5D71DD33;
$transporent-white: #FFFFFF33;
$dark-font-color: #2F2222;
$white: #fff;
$light-gray: #F9F9F9;
$light-gray2: #F5F5F5;
$light-gray3:#E5E4E4;
$light-gray4:#2F22221A;
$darker-gray: #2F222266;

$linear03: 0.3s linear;


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: $light-gray;
    font-family: 'Futura PT', Arial, Helvetica, sans-serif;
    color: $dark-font-color;
    overflow-x: hidden;

}

.btn {
    display: flex;
    gap: 11px;
    border: $blue 1.5px solid;
    background-color: $blue;
    border-radius: 20px;
    font-size: 18px;
    color: $white;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    transition: background $linear03;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: $blue-light;
        background-color: $blue-light;

    }

    &:focus {
        outline: none;
        border-color: $dark-font-color;
    }



}

.btn1 {
    padding: 10px 16px;
    // background-color: $transporent-blue;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    position: relative;
    text-decoration: none;

    color: $blue;
    transition: color $linear03, background $linear03;

    &::after {
        background-color: $transporent-blue3;
        position: absolute;
        content: '';
        border-radius: 8px;
        opacity: 0.20;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: opacity $linear03;
    }


    &.white::after {
        background-color: $white;
    }

    &.white {
        color: $white;
    }

    &:hover::after {
        opacity: 0.35;
    }

    &:active::after {
        opacity: 0.40;
    }

    &:focus {
        outline: none;

        &::after {
            opacity: 0.40;
        }
    }



}

.input {
    border-radius: 20px;
    background-color: $light-gray2;
    border: 1px solid $light-gray2;
    padding: 13px 30px;
    min-height: 50px;
    transition: background $linear03;

    &::placeholder {
        color: $darker-gray;
    }

    &:focus {
        outline: none;
        background-color: $light-gray;
    }
}

.title {
    font-size: 24px;
    font-weight: 450;
    color: $dark-font-color;
    letter-spacing: 0.01em;
    line-height: 30.77px;
}

.container {
    margin: 0 20px;
}

.header {
    margin-bottom: 40px;
    position: relative;

    &__content {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -7px;
    }

    .nav {
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        display: none;

    }
 

    .nav--mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $white;
        top: 0;
        right: 5px;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 4px 8px 40px 0px #08186F33;
        z-index: 10;
        animation: showMenu 0.4s linear;
    }

    &__grafity {
        min-height: 150px;
        background-image: url('../img/header_bg.webp');
        background-size: cover;
        background-position: center;
        transition: background-image $linear03;
    }
}

@keyframes showMenu {
    0% {
        right: -100%;
        opacity: 0;
    }

    100% {
        right: 5px;
        opacity: 1;
    }
}

.burger {
    background-color: unset;
    width: 25px;
    height: 30px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
    cursor: pointer;
    position: relative;

    &--active {
        position: relative;

        span {
            position: absolute;
            margin: 0 -50%;
            left: 50%;
            top: 50%;
        }

        span:nth-child(1) {
            rotate: 45deg;
        }

        span:nth-child(2) {
            rotate: -45deg;
        }

        span:nth-child(3) {
            display: none;
        }
    }


    span {
        z-index: -1;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: $dark-font-color;
        transition: rotate $linear03;
    }


}



.link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: $dark-font-color;
    position: relative;
    cursor: pointer;
    transition: color $linear03;


    &::after {
        position: absolute;
        content: '';
        width: calc(100% + 1px);
        height: 2px;
        left: -2px;
        bottom: -2px;
        background-color: $blue;
        opacity: 0;
        transition: opacity $linear03;
    }

    &:hover {
        color: $blue;
    }

    &:focus {
        outline: none;
        color: $blue;
    }

    &--active {
        color: $blue;

        &::after {
            opacity: 1;
        }
    }
}

.phone {
    padding-left: 26px;
    background-image: url('../img/ico-phone.svg');
    background-position: left center;
    background-repeat: no-repeat;
    color: $blue;
}

.main {
    &__container {
        display: flex;
        gap: 60px;
        flex-direction: column;
    }
}

.articles {

    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;

    transition: heigth $linear03;

    .article {
        display: none;
    }

    .article:nth-child(1),
    .article:nth-child(2),
    .article:nth-child(3),
    .article:nth-child(4),
    .article:nth-child(5),
    .article:nth-child(6) {
        display: block;
    }
}

.article {
    background-color: $white;
    border-radius: 10px;
    height: 350px;
    position: relative;
    transition: background $linear03;


    &__link {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 30px;
        height: 100%;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        text-overflow: ellipsis;
        border-radius: 10px;
        border: 1px solid transparent;

        transition: box-shadow $linear03, background $linear03;


        &:hover {
            box-shadow: 4px 8px 40px 0px #08186F33;
        }

        &:focus {
            outline: none;
            border-color: $blue;
        }

    }


    &__top {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }

    &__date {
        font-size: 16px;
        color: $darker-gray;
        position: absolute;
        bottom: 30px;
        left: 30px;
        transition: color $linear03;
    }

    &__title {
        margin-bottom: 20px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: color $linear03;

    }

    &__text {
        overflow: hidden;
        max-height: 100%;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.08px;
        color: $darker-gray;
        max-width: 877px;
        text-overflow: ellipsis;
        max-height: 55px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: color $linear03;
    }

    &-vertical {
        background-color: $blue;
        color: $white;
        background-position: center;
        background-size: cover;

        .article__link {
            padding: 40px 30px;
        }

        .title {
            color: $white;
            margin-bottom: auto;
        }

        .article__date {
            color: $white;
        }

        &:hover {
            background-color: $white;
        }


    }

    &3,
    &8 {

        &:hover,
        &:focus {
            .btn1 {
                color: $blue;

                &:after {
                    background-color: $transporent-blue3;
                }
            }

            .article__date {
                color: $darker-gray;
            }

            .title,
            .article__text {
                color: $dark-font-color;
            }
        }

        .article__link:focus {
            background-color: $white;
            outline: none;

            .btn1 {
                color: $blue;

                &:after {
                    background-color: $transporent-blue3;
                }
            }

            .article__date {
                color: $darker-gray;
            }

            .title,
            .article__text {
                color: $dark-font-color;
            }
        }
    }

    &4 {
        background-image: url('../img/article-bg1.webp');
    }

    &9 {
        background-image: url('../img/article-bg2.webp');
    }

    &.slim {
        .article__link {
            padding: 30px 40px;
        }

        .article__top {
            margin-bottom: 20px;
        }
    }
}

.pagination {
    display: none;
}

.main-section__btn {
    width: 100%;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 59px;
    margin-bottom: 80px;

    .title {
        text-align: center;
    }
}

.news {
    &__title {
        margin-bottom: 40px;
        text-align: center;
    }

    &__list {
        display: flex;
        list-style: none;
        gap: 20px;
        flex-direction: column;
        position: relative;
    }



    .item {
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-decoration: none;

        &__title {
            font-size: 18px;
            line-height: 23.08px;
            letter-spacing: -0.01em;
            color: $dark-font-color;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            transition: color $linear03;
        }

        &__date {
            font-size: 18px;
            font-weight: 400;
            line-height: 23.08px;
            color: $light-gray3;
        }

        &:focus,
        &:hover {
            .item__title {
                color: $blue;
            }
        }

        &:focus {
            outline: none;
        }
    }

    .item:not(:last-child)::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $light-gray4;
        left: 0;
        bottom: -10px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 40px 0px 50px;
    border-radius: 20px;
    position: relative;

    &__title {

        font-size: 24px;
        font-weight: 450;
        align-self: center;
        margin-bottom: 30px;
    }

    &__input {
        margin-bottom: 18px;
    }

    &::after {
        content: '';
        background-color: $white;
        width: calc(100% + 40px);
        height: 100%;
        position: absolute;
        top: 0;
        left: -20px;
        z-index: -1;
    }
}

.footer {
    background-color: $transporent-blue;

    &__content {
        padding: 40px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 471px;
        min-height: 295px;
        margin: 0 auto;
    }

    &__logo {
        margin-bottom: 34px;
        cursor: pointer;

        &:focus {
            outline: $blue;
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 64px;
    }

    &__copyrights {
        text-align: center;
        font-family: Futura PT;
        font-size: 14px;
        font-weight: 400;
    }
}


@media (min-width: 769px) {

    .container {
        margin: 0 42px;
    }

    .main {
        &__container {
            gap: 97px;
        }
    }

    .header {
        &__content {
            min-height: 70px;
        }

        .nav {
            display: flex;
            flex-direction: row;
            position: static;
            box-shadow: none;
            padding: 0;
            background-color: unset;
        }

        &__burger {
            display: none;
        }

        &__grafity {
            min-height: 250px;
        }
    }


    .articles {


        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 80px;

        .article:first-child {
            grid-column: span 3;
            grid-row: span 2;
            height: 280px;
        }

        .article:nth-child(2),
        .article:nth-child(7) {
            grid-column: span 2;
            grid-row: span 2;
            height: 400px;
        }

        .article:nth-child(3),

        .article:nth-child(4),
        .article:nth-child(8),
        .article:nth-child(9) {
            grid-column: span 1;
            grid-row: span 2;
            height: 400px;
        }

        .article:nth-child(5),
        .article:nth-child(6),
        .article:nth-child(10),
        .article:nth-child(11) {
            grid-column: span 2;
            grid-row: span 1;
            height: 180px;

            .article__text {
                display: none;
            }
        }
    }

    .article {
        border-radius: 20px;

        &__date {
            position: static;
        }

        &__link {
            padding: 40px;
            border-radius: 20px;

        }

        &__text {
            -webkit-line-clamp: 4;
            max-height: unset;
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        .pages {
            gap: 20px;
            display: flex;
            align-items: center;
        }

        .btn1 {
            padding: 12px 16px;
            min-width: 137px;
            font-size: 18px;
            background-image: url('../img/ico-pagination-arrow.svg');
            background-position: 113px center;
            background-repeat: no-repeat;

        }
    }

    .aside {
        .news {
            &__title {
                text-align: start;
            }

            &__list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            .item::after {
                display: none;
            }
        }


    }

    .form {
        display: grid;
        grid-template-columns: 380px 244px;
        justify-content: center;
        gap: 20px;

        &::after {
            display: none;
        }

        .title {
            grid-column: span 2;
            text-align: start;
            margin: 0;
        }

        &__input {
            margin: 0;
        }
    }

    .show-more-articles {
        display: none;
    }



}

@media (min-width: 1441px) {
    .container {
        margin: 0 auto;
        max-width: 1400px;
    }

    .main {
        margin-bottom: 98px;

        &__container {
            display: grid;
            gap: 40px;
            grid-template-columns: 1fr 320px;
        }

    }

    .header {
        &__content {}

        &__grafity {
            min-height: 300px;
        }
    }

    .articles {
        gap: 40px;

        .article {
            display: block;
        }
    }

    .aside {
        gap: 39px;

        .news {
            &__list {
                display: flex;
            }

            .item::after {
                display: block;

            }

            .item {
                &__title {
                    -webkit-line-clamp: 3;
                }
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        padding: 40px 30px 50px;
        gap: 0;

        .title {
            align-self: center;
            margin-bottom: 30px;
        }

        &__input {
            margin-bottom: 18px;
        }

    }

}